if-finland-hackathon-2014/Finland.Hackathon/Service References/ClaimsServiceReference/ClaimsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60328/ClaimsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OpenDataService.DataManagement" />
  <xs:import schemaLocation="http://localhost:60328/ClaimsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetClaimById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OpenDataService.DataManagement" minOccurs="0" name="GetClaimByIdResult" nillable="true" type="q1:Claim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccidentTypesByCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OpenDataService.DataManagement" minOccurs="0" name="coords" nillable="true" type="q2:Location" />
        <xs:element minOccurs="0" name="range" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccidentTypesByCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAccidentTypesByCoordinatesResult" nillable="true" type="q3:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourlyStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourlyStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHourlyStatisticsResult" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDailyStatisticsResult" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimsByCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OpenDataService.DataManagement" minOccurs="0" name="coords" nillable="true" type="q6:Location" />
        <xs:element minOccurs="0" name="range" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimsByCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OpenDataService.DataManagement" minOccurs="0" name="GetClaimsByCoordinatesResult" nillable="true" type="q7:ArrayOfClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAddressesResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OpenDataService.DataManagement" minOccurs="0" name="uniLocation" nillable="true" type="q9:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteLocationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationPacksByData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skipmultiplier" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationPacksByDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OpenDataService.DataManagement" minOccurs="0" name="GetLocationPacksByDataResult" nillable="true" type="q10:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>